<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js"></script>

    <script src="common/common.js" type="text/javascript"></script>
    <script src="login/login.js" type="text/javascript"></script>
    <script src="index.js" type="text/javascript"></script>
    <script src="evaluation.js" type="text/javascript"></script>
    <script src="new-evaluation.js" type="text/javascript"></script>
  
    <link rel="stylesheet/less" href="index.less" type="text/css"/>
    

    

    <title>Document</title>
</head>
<body>
    <div id="app"> 


    </div>
</body>
</html>