<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Path to images directory -->
    <link rel="stylesheet" href="img/">
    
    <!-- Path to main.less file -->
    <link rel="stylesheet/less" href="../style/main.less" type="text/css"/>

    <!-- CDN LESS -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js"></script>
    
    <!-- From here we import Footer and Navigation Bar Component -->
    <script src="common/common.js" type="text/javascript"></script>

      <!-- Path to index.js file -->
      <script src="index.js" type="text/javascript"></script>

    <!-- Path to events files -->
    <script src="../events/commonEvents.js" type="text/javascript"></script>
    <script src="../events/loginEvents.js" type="text/javascript"></script>
    <script src="../events/evaluationEvents.js" type="text/javascript"></script>
    <script src="../events/newEvaluationEvents.js" type="text/javascript"></script>

    <!-- Path to login.js file -->
    <script src="login/login.js" type="text/javascript"></script>

    <!-- Path to evaluation.js file -->
    <script src="evaluations/evaluation.js" type="text/javascript"></script>

    <!-- Path to new-evaluation.js file -->
    <script src="new-evaluation/new-evaluation.js" type="text/javascript"></script>    

    <title>Login</title>
</head>
<body>
    <div id="app"></div>
</body>
</html>